.averia-libre-regular 
{
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: normal;
}

body
{
    font-family: "Averia Libre";
    background-image: url(images/backgroundImage.jpg);
}

#banner
{
    height: auto;
    width: 100%;
}

.header
{
    display: inline-block;
    left: 15px;
    position: relative;
    font-weight: 700;        
    color: #ad2126;
    font-size: 70px;
}

#super-boy-burger
{
    div
    {
        display: flex;

        position: relative;
        bottom: 20px;
    }

    p
    {
        padding-left: 70px;
        font-size: 50px;
    }

    img
    {
        width: 750px;
    }
}

#super-boy-history
{
    div
    {
        display: flex;
    }

    p
    {
        padding-left: 100px;
        font-size: 26px;  
        max-width: 1000px;
        padding-right: 50px;
    }

    img
    {
        width: 1000px;
    }
}

#super-boy-contact
{
    #contact
    {
        max-width: 30%;
        position: relative;
        left: 5%;
        border: 1px solid black;
        display: block;
        padding: 15px;

        div
        {
            display: flex;
        }
    }
    
    #main
    {
        display: flex;  
    }
    
    table, td
    {
        border-collapse: collapse;
        border: 1px solid black;
        padding: 15px;
    }

    table
    {
        position:relative;
        
        left: 10%;
    }

    p
    {
        font-size: 25px;
    }

    h2
    {
        font-size: 50px;
        color: #ad2126;
    }

    img
    {
        height: 50px;
        width: 50px;
    }
}