/* import font */
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@400;700&display=swap');

/* body */
body 
{
    font-family: 'Averia Libre', sans-serif;
    background-image: url('/images/backgroundImage.jpg');
    color: white;
    padding: 20px;
    margin: 0;
}

/* header */
#header
{
    position: sticky;
    top: 0px;
    z-index: 5;

    /* header inner div */
    div
    {
        position: relative;
        bottom: 85px;
        display: flex;
        justify-content: space-evenly;
    }

    /* header hr */
    hr
    {
        top: 0px;
        z-index: 2;
        height: 130px;
        width: 100%;
        background-color: black;
    }

    /* header links */
    a 
    {
        position: relative;
        bottom: 10px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        font-size: 30px;
    }

    /* header link hover */
    a:hover
    {
        cursor: pointer;
        opacity: 0.7;
        transition: 0.5s;
        transform: scale(1.2);
    }
    
    /* header logo image */
    img
    {
        position: relative;
        width: 128px;
        height: 128px;
        z-index: 3;
        bottom: 50px;
        padding: 0px;
        right: 150px;
    }
}

/* main title */
.header
{
    display: inline-block;
    left: 15px;
    position: relative;
    font-weight: 700;
    color: #ad2126;
    font-size: 70px;
    bottom: 100px;
}

/* staff section */
.meet-staff
{
    padding: 15px;

    /* staff section inner div */
    div
    {
        display: flex;
        justify-content: space-evenly;
    }
    
    /* staff description */
    p
    {
        color: white;
        font-size: 35px;
        max-width: 70%;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 15px;
        padding: 15px;
    }
}

/* staff images */
img
{
    height: 400px;
    width: 300px;
    object-fit: top;
    border-radius: 15px;
}
